<div class="chat-container">
  <aside class="sidebar">
    <header class="flex items-center justify-between">
      <h2>Conversations</h2>
      <%= link_to new_conversation_path, class: "link-with-icon", "aria-label": "New Conversation" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      <% end %>
    </header>

    <ul class="conversation-list">
      <% @conversations.each do |conversation| %>
        <li class="conversation-item <%= 'active' if conversation == @conversation %>">
          <%= link_to conversation.name, conversation, class: "flex-1" %>
          <% if conversation.participant?(Current.user) %>
            <%= button_to conversation_conversation_user_path(conversation),
                method: :delete,
                data: { turbo_confirm: "Leave this conversation?" },
                class: "button-with-icon",
                "aria-label": "Leave conversation" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <article class="participants-section">
      <h3>Participants</h3>
      <ul class="participants-list">
        <%= render @conversation.users %>
      </ul>
    </article>
  </aside>

  <main class="chat-main">
    <header>
      <h1><%= @conversation.name %></h1>
    </header>
    <section data-controller="conversation">
        <% if @conversation.participant?(Current.user) %>
            <%= turbo_stream_from @conversation, :messages %>

            <section id="messages" class="overflow-auto flex flex-col" data-conversation-target="messages">
              <%= render @messages %>
            </section>

            <footer class="message-form-container">
                <%= render "messages/form", conversation: @conversation %>
            </footer>
        <% else %>
            <div class="join-conversation">
                <%= button_to "Join #{@conversation.name}",
                    conversation_conversation_user_path(@conversation),
                    class: "primary" %>
            </div>
        <% end %>
    </section>
  </main>
</div>
